@model AspNetCore.Identity.Elastic.ElasticIdentityUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="EmailConfirmed" />
                    <label asp-for="EmailConfirmed"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="PhoneNumberConfirmed" />
                    <label asp-for="PhoneNumberConfirmed"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsLockoutEnabled" />
                    <label asp-for="IsLockoutEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccessFailedCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span asp-for="DateCreated" class="checkbox">@Model.DateCreated</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateDeleted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span asp-for="DateDeleted" class="checkbox">@(Model.DateDeleted ?? null)</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastLoginDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span asp-for="LastLoginDate" class="checkbox">@(Model.LastLoginDate ?? null)</span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LockoutEndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <span asp-for="LockoutEndDate" class="checkbox">@(Model.LockoutEndDate ?? null)</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsTwoFactorEnabled" />
                    <label asp-for="IsTwoFactorEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Roles" class="col-md-2 control-label"></label>
            <div class="col-md-10" id="rolesForm">
                <hr />
                @foreach (var userRole in Model.Roles)
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <input asp-for="@userRole.RoleId" name="Roles" class="form-control"/>
                        <span asp-validation-for="@userRole.RoleId" class="text-danger"></span>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnAddRole" class="btn btn-default" value="Add Role" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Claims" class="col-md-2 control-label"></label>
            <div class="col-md-10" id="claimsForm">
                <hr />
                @foreach (var claim in Model.Claims)
                {
                    <div>
                        <input asp-for="@claim.Type" name="Claim.Type" />:
                        <input asp-for="@claim.Value" name="Claim.Value"/>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnAddClaim" class="btn btn-default" value="Add Claim" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            var $fields = $('#rolesForm');
            $('#btnAddRole').click(function (e) {
                e.preventDefault();
                $('<div><input name="Roles" class="form-control" /></div>').appendTo($fields);
            });
        });

        $(document).ready(function () {
            var $fields = $('#claimsForm');
            $('#btnAddClaim').click(function (e) {
                e.preventDefault();
                $('<div><input asp-for="claim.Type" name="Claim.Type" />:&nbsp;<input asp-for="claim.Value" name="Claim.Value"/></div>').appendTo($fields);
            });
        });

    </script>
}
